<!DOCTYPE html>
<html>

    <head>
        <title>Stock Tracker</title>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/vue-router@4"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="app">
            
            <div class="header">
                <div>
                    <label for="email" class="text-font header-label">email: </label>
                    <input type="text" name="email" v-model="userEmail">
                </div>

                <button class="header-submit" :disabled="!userEmail.length > 0">Submit</button>
            </div>

            <div class="background">
                <div id="main" v-for="card in trackedStocks">

                    <div class="box glass">
                        <input type="text" class="textbox text-font" :placeholder="card.symbol" v-model="card.symbol">
                        <p class="text-name text-font">{{card.name}}</p>
                        <div class="stock-controls">
                            <label for="max" class="text-font">Max: </label>
                            <input type="number" name="max" v-model="card.max">

                            <label for="min" class="text-font">Min: </label>
                            <input type="number" name="min" v-model="card.min">

                            <label for="rate" class="text-font">Frequency: </label>
                            <select v-model="card.rate" name="rate">
                                <option disabled value="">Please select one</option>
                                <option value="every15m">Every 15 minutes</option>
                                <option value="every1h">Every hour</option>
                                <option value="every1d">Every day</option>
                                <option value="every7d">Every week</option>
                              </select>
                        </div>
                    </div>

                </div>

                <div class="box plus-box glass">
                    <p class="plus" v-on:click="addCard()">+</p>
                </div>
                

            </div>

        </div>
            
    </body>

    <!-- Vue App -->
    <script>
        Vue.createApp({
            data() {
                return {
                    userEmail: '',
                    backendUri: "",
                    trackedStocks: 
                    [{symbol: 'TST1', name: "Test Stock 1", min: 0, max: 100, rate: 'every15m'}]
                }
            },

            mounted() {

                console.log('Starting Dashboard')
                setInterval(() => {console.log(this.trackedStocks)}, 2000)
            },

            methods: {
                /**
                 * Creates a new card.
                */
                addCard() {
                    console.log(1);
                    this.trackedStocks.push({symbol: 'ADD', name: "Newly added stock", min: 0, max: 100, rate: 'every15m'})
                }
            }

        }).mount('#app')

    </script>

</html>