<!DOCTYPE html>
<html>

    <head>
        <title>Stock Tracker</title>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://unpkg.com/vue-router@4"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="app">
            <div class="background">
                <div id="main" v-for="card in trackedStocks">
                    <div class="box glass">
                        <input type="text" class="textbox" :placeholder="card.symbol">
                        <p class="text-name">{{card.name}}</p>
                    </div>
                   
                </div>

            </div>

        </div>
            
    </body>

    <!-- Vue App -->
    <script>
        Vue.createApp({
            data() {
                return {
                    userEmail: null,
                    backendUri: "",
                    trackedStocks: [{symbol: 'TST1', name: "Test Stock 1",min: 0, max: 100, rate: '15m'},
                    {symbol: 'TST2', name: "Test Stock 2",min: 0, max: 100, rate: '15m'}]
                }
            },

            async mounted() {

                console.log('Starting Dashboard')
                

            },

            methods: {

            }

        }).mount('#app')

    </script>

</html>